<%- include('partials/_header'); -%>
<div class="container mt-5">
    <h1>Scores</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div class="card mb-5">
                <div class="card-body">
                    <form action="/scores/add" method="post">
                        <div class="form-group">
                            <input type="text" name="playerName" class="form-control" placeholder="Player Name">
                        </div>
                        <div class="form-group mt-2">
                            <input type="number" name="score" class="form-control" placeholder="Score">
                        </div>

                        <button type="submit" class="btn btn-success mt-2 float-end">Add</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Ip</th>
                        <th>Player Name</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <% for(let i = 0; i < scores.length; i++) {%>
                        <tr>
                            <td> <%= scores[i].ip %>  </td>
                            <td> <%= scores[i].playerName %>  </td>
                            <td> <%= scores[i].score %>  </td>
                            <td>
                                <a href="/scores/delete/<%= scores[i]._id %>" class="btn btn-danger btn-sm">Delete</a>
                                <a href="/scores/edit/<%= scores[i]._id %>" class="btn btn-primary btn-sm">Edit</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('partials/_footer'); -%>